*{
	margin: 0;padding: 0;box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body{
  background-color: rgb(237, 220, 240);
}
  nav{
	width: 100%;height: 7vh;
  background-color: rgba(109, 150, 159, 0.4);
	color: white; 
    display: flex; 
	justify-content:space-between;
    align-items: center; 
}
nav .logo{
    display: flex;
}
nav .logo h1{
	width: 25% ; 
    text-align: left;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: weight 30px; 
    /* text-shadow:5px 5px 5px rgb(68, 70, 73); */
    text-decoration: none ; 
    color: rgb(1, 8, 16);
    padding: 5%;
}
nav .menu{
	width: 40%; 
	display: flex; 
    justify-content: space-around;
    text-transform: uppercase;
}
nav .menu a{
	width: 20%;
  font-size: 14px;
	text-decoration: none; 
  color: rgb(16, 15, 15);
}
.logo img{
    border-radius: 30%;
    width: 35px;
    height: 35px;
    margin-left: 5%;
    margin-top: 3%;
}
.main{
  margin: 0 30px 0 30px;
  height: 693px;
  
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  
  /* Full height */
  /* height: 100%; */

  /* Center and scale the image nicely */
  background-position: center;
  /* background-repeat: no-repeat;
  background-size: cover; */
}
.Home{
  background-color: rgba(28, 41, 29, 0.85);
  width: 100%;
  height: 100%;
}
.heading{
font-size: 80px;
margin-left: 37%;
padding: 200px 10px 10px 0px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: white;
font-weight: 10%;

}
.caption{
  padding: 20px;
  align-items: center;
  font-size: 25px;
  color: rgb(247, 245, 211);
  position: absolute;
  top: 49%;
  left: 49%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}
.chat-sec{
  position: absolute;
  top: 60%;
  left: 47%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}
button{
  height: 60px;
  width: 260px;
  font-size: 25px;
  border-radius: 30px;
  background-color: rgb(156, 222, 200);
  border: 2px solid rgb(16, 44, 34);
  margin-top: 50px;
  margin-left: 48px;
}


.help{
  background-color: blue;
  color: white;
  margin-right: -1px;
  margin-top: 500px;
  font-size: 30px;
}

